.banner{
    background-color: #fbc300;
}
h1{
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.text-1{
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.contenido{
     background-image: url("../../../../public/fondo.jpg");
      background-size: cover;
      background-repeat: no-repeat;
}